<% layout('/layouts/boilerplate.ejs') %>
            <style>
                .filter {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .filters {
                    opacity: 0.8;
                }
                .filters:hover {
                    opacity: 1;
                }
                .filters p {
                    font-size: 0.8rem;
                }
                .taxInfo {
                    display: none;
                }
                .navEdit {
                    margin-top: 1.5rem;
                }
                .taxToggles {
                    border: 1px solid black;
                    border-radius: 1rem;
                    margin-right: 2.5rem;
                    padding: 1.5rem;
                }
            </style>
   <div class="filter">       
    <ul class="nav navEdit">
        <li class="nav-item">
            <a class="nav-link" href="/listings"> <div class="filters">
                <div><i class="fa-solid fa-fire"></i></div>
               <p>Trending</p>
            </div>
        </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listings">
            <div class="filters">
                <div><i class="fa-solid fa-bed"></i></div>
               <p>Rooms</p>
            </div>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings"> <div class="filters">
            <div><i class="fa-solid fa-mountain-city"></i></div>
           <p>Mountains</p>
        </div></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/listings"><div class="filters">
            <div><i class="fa-solid fa-city"></i></div>
           <p>Iconic Cities</p>
        </div></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listings"> <div class="filters">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
               <p>Castles</p>
            </div></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/listings"> <div class="filters">
                <div><i class="fa-solid fa-person-swimming"></i></div>
               <p>Amazing Pools</p>
            </div></a>
          </li>
          
      </ul>
     
        <div class="form-check-reverse form-switch taxToggles">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
          </div>
    </div>  
    <!-- <form method="get" action="/listings/new">
        <button>Create new listing</button>
    </form> -->
        <div class="row row-col-lg-3 row-col-md-3 row-col-sm-1 mt-3">
    <% for(listing of allListings) { %>
        
        <div class="listing-card" style="width: 20rem ;">
            <a href="/listings/<%=listing._id%>" class="listingLink">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="loading" style="height: 20rem;">
            <div class="card-body">
              <p class="card-text"><b><%= listing.title%></b>
            <br><b>Price:</b> &#8377;
            <%= Number(listing.price).toLocaleString("en-IN")%>/night
            <i class="taxInfo">&nbsp;+18% GST</i>
            </div>
        </a>
          </div>
      <% } %>
        </div>
        <script>
            let taxSwitch = document.getElementById("switchCheckDefault");
            taxSwitch.addEventListener("click", ()=>{
                let taxInfo = document.getElementsByClassName("taxInfo");
                for(info of taxInfo) {
                    if(info.style.display != "inline") {
                    info.style.display = "inline";
                    }
                    else {
                        info.style.display = "none";
                    }
                }
            });
        </script>