<% layout('/layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-8 offset-2">
    <h3>Create new listing</h3>
    <form method="post" action="/listings/new" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3"> <label for="title">Title</label>
            <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
            <div class="invalid-feedback">please enter title</div>
        </div>
       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter the description" rows="10" cols="50" class="form-control" required></textarea>
        <div class="invalid-feedback">Please enter a vaild description</div>
        </div> 
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
        <input name="listing[image]"  type="file" class="form-control" required>
        </div>
        <div class="row">
        <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required>
        <div class="invalid-feedback">Please should be valid.</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required>
        <div class="invalid-feedback">location should be valid</div>
        </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required>
        <div class="invalid-feedback">country name should be valid</div>
        <br>    
        <h3>point to a valid location</h3>
        </div>

        <div class="col-8 offset-2">
            <div id="map1"></div>
        
          <!-- Hidden fields or display of selected coordinates -->
          <input type="hidden" name="listing[latitude]" id="latitude" required>
        <input type="hidden" name="listing[longitude]" id="longitude" required>
        </div>
        <button class="btn  btn-edit">Create</button>
    </form>
    </div>
    

</div>